@model SearchEngineAutomation.Models.FormModel

@{
    ViewBag.Title = "PleaseTryAgain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<p>
    Your search returned no results, please try again.
</p>

