@model SearchEngineAutomation.Models.FormModel

@{
    ViewBag.Title = "Search Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Result</h2>
<p>
    Your URL shows at these google rankings for your keyword search:
</p>
<p>
    @ViewBag.searchConverted
</p>
